@import "_variables"; 
@import "_spacing";
@import "_typography";

.default-layout {
    padding: 30px;
    max-width: 1024px;
    margin: 0 auto;
}

.page-title {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1rem;
    color: #3f414e;
}

.page-description {
    font-style: normal;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #A1A4B2;
    padding: 1rem 0;
}

.page-content {
    margin-top: 60px;
}


/* Welcome Page */

.welcome-page {
    &__app-logo {
        display: block;
        max-width: 600px;
        width: 100%;
        height: auto;
        margin: 30px auto;
    }
    &__game-name {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.24em;
        color: #000;
        text-align: center;
    }
    &__title {
        font-weight: normal;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: #3f414e;
    }
    &__description {
        font-weight: lighter;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #000;
        margin: 30px 0;
    }
}


/* Welcome Page */

.rules-page {
    &__app-logo {
        display: block;
        max-width: 600px;
        width: 100%;
        height: auto;
        margin: 30px auto;
    }
    &__game-name {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.24em;
        color: #000;
        text-align: center;
    }
    &__title {
        font-weight: normal;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        color: #3f414e;
    }
    &__description {
        font-weight: lighter;
        font-size: 1rem;
        line-height: 1.6rem;
        text-align: left;
        color: #000;
        margin: 1rem 0 2rem;
    }
}

.img-fluid {
    width: 100%;
    height: auto;
    display: block;
}